<div class="tablist" role="tablist" aria-label="Moonlight Voice sections">
  <button
    class="tab"
    id="tab-audio-library"
    role="tab"
    aria-selected="true"
    aria-controls="panel-audio-library"
    tabindex="0"
    data-tab="audio-library"
  >
    Audio library
  </button>
  <button
    class="tab"
    id="tab-service"
    role="tab"
    aria-selected="false"
    aria-controls="panel-service"
    tabindex="-1"
    data-tab="service"
  >
    Service
  </button>
  <button
    class="tab"
    id="tab-advanced"
    role="tab"
    aria-selected="false"
    aria-controls="panel-advanced"
    tabindex="-1"
    data-tab="advanced"
  >
    Advanced
  </button>
</div>
